<br>
<table class="center">
<div  class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Address</div>
    <div class="card-body">
      <h4 class="card-title">Main Branch</h4>
      <ul>
          <li>near Katraj lake,Pune-Banglore express way,Pune-411028</li>
      </ul>
    </div>   
</div>


<div class="card border-dark mb-3" style="max-width: 20rem;">
    <div class="card-header">Phone Number</div>
    <div class="card-body">
      <!--<h4 class="card-title">Dark card title</h4>-->
      <ul>
        <li>676545674</li>
        <li>6471234682</li>
    </ul>
    </div>
</div>

<div  class="card border-dark mb-3" style="max-width: 20rem;">
    <div class="card-header">Email</div>
    <div class="card-body">
      <ul>
        <li>ServiceYourVehicle@gmail.com</li>
    </ul>
  </div>
</div>
</table>