
<div class="container">
    <h2> List of all vehicle registered in our services...</h2>
           
    <table class="table table-striped">
      <thead>
        <tr>
          <th>VehicleId</th>
          <th>Vehicle Company</th>
          <th>Model</th>
          <th>Number Plate</th>
          <th>Actions</th>  
          
        </tr>
      </thead>
      <tbody *ngFor="let vehicle of vehicles">
        <tr>
          <td>{{vehicle.vehicleId }}</td>
          <td>{{vehicle.vehicleCompany}}</td>
          <td>{{vehicle.model}}</td>
          <td>{{vehicle.numberPlate}}</td>
          <td><button (click)="onDeleteVehicle(vehicle.vehicleId)" style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>
              <button (click)="onUpdateVehicle(vehicle.vehicleId)" style="margin-left: 15px;" class="btn btn-success btn-sm">Update</button>
         </td>
        </tr>
        

    </tbody>
  </table>
  <button (click)="back()" type="button" class="btn btn-primary" >Back</button>&nbsp;&nbsp;
  <button (click)="logout()" type="button" class="btn btn-danger" >Logout</button>


</div>
