
<br><br><br>

<div class="row">
    <div style="width:30%" class="column">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header"><h3><b>Silver</b></h3></div>
        <div class="card-body">
          <h4 class="card-title">6-10 hrs</h4>
          <ul>
            <li>Air Filter Cleaning</li>
            <li>Spark Plug Cleaning</li>
            <li>Washing</li>
            <li>Engine oil replacement/ check</li>
            <li>Clutch Cable inspect/ setting</li>
            <li>Brake Cable inspect/ setting</li>
            <li>Carburettor setting/ drain</li>
            <li>All lights check [Headlight, tail lamp, indicator]</li>
            <li>Accelerator Cable inspect/ setting</li>
            <li>Front & rear disc pad cleaning/ setting</li>
            <li>Disc brake oil top up if required</li>
            <li>Minor Fitting / nut bolts replacements</li>
          </ul>
          </div>
      </div>
      <button routerLink="/form" type="button" class="btn btn-primary btn-lgr"><i class="fa fa-heart"></i>Silver</button>

    </div>

    <div  style="width:30%" class="column">
      
      <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
        <div class="card-header"><h3><b>Gold</b></h3></div>
        <div class="card-body">
          <h4 class="card-title">12-24hrs</h4>
          <ul>
            <li>Silver package</li>
            <li>Battery replacement</li>
            <li>Brake shoe replacement</li>
            <li>Chain Cleaning/Overhaul</li>
            <li>Half Engine Overhaul</li>
         </ul>
        </div>
      </div>
      <button routerLink="/form" type="button" class="btn btn-primary btn-lgr"><i class="fa fa-heart"></i>Gold</button>

    </div>



    <div  style="width:30%" class="column">
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header"><h3><b>Platinum</b></h3></div>
        <div class="card-body">
          <h4 class="card-title">24hrs and more..</h4>
          <ul>
            <li>Gold package</li>
            <li>Master cylinder overhaul/ repalcement</li>
            <li>Disc plate replacement</li>
            <li>Tyre Replacement</li>
            <li>Chain sprocket replacement</li>
         </ul>

        </div>
      </div>
      <button routerLink="/form" type="button" class="btn btn-primary btn-lgr"><i class="fa fa-heart"></i>Platinum</button>

  </div>