<br>
<div class="container">
  <div class="vertical-center">
      <button  (click)="staffDetails()" type="button" class="btn btn-success">Staff List</button>&nbsp;&nbsp;
      <button (click)="customerDetails()" type="button" class="btn btn-success" >Customer List</button>&nbsp;&nbsp;
      <button (click)="serviceTypeDetails()" type="button" class="btn btn-success" >Services List</button>&nbsp;&nbsp;
      <button (click)="allVehiclesDetails()" type="button" class="btn btn-success" >Vehicles List</button>&nbsp;&nbsp;
      <button  type="button" class="btn btn-success">Records</button><br><br>
      <button  (click)="logout()" type="button" class="btn btn-danger" >Logout</button>
  </div>
</div>

<!--(click)="allRecordsDetails()"-->

